version: '3.8'

services:
  # PostgreSQL - Catalog Database
  catalog-db:
    image: postgres:16-alpine
    container_name: catalog-db
    environment:
      POSTGRES_DB: MicroECommerce_CatalogDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - catalog-db-data:/var/lib/postgresql/data
    networks:
      - microecommerce-network
    restart: unless-stopped

  # PostgreSQL - Identity Database
  identity-db:
    image: postgres:16-alpine
    container_name: identity-db
    environment:
      POSTGRES_DB: MicroECommerce_IdentityDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
    ports:
      - "5433:5432"
    volumes:
      - identity-db-data:/var/lib/postgresql/data
    networks:
      - microecommerce-network
    restart: unless-stopped

  # SEQ - Log Görüntüleme
  seq:
    image: datalust/seq:latest
    container_name: seq
    environment:
      ACCEPT_EULA: Y
    ports:
      - "5341:80"
    volumes:
      - seq-data:/data
    networks:
      - microecommerce-network
    restart: unless-stopped

networks:
  microecommerce-network:
    driver: bridge

volumes:
  catalog-db-data:
  identity-db-data:
  seq-data: